.title-starting-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(24px, 5vw, 60px);
  color: var(--accent-light);
}
.title-starting-page-1 {
  /* font-family: Life Savers;  */
  font-weight: bold;
}
.title-starting-page-2 {
  position: relative;
  font-weight: 800;
  padding: clamp(2px, 1vh, 15px) clamp(8px, 2vw, 25px) 0 clamp(8px, 2vw, 25px);
  line-height: 100%;
  background-color: color-mix(in srgb, var(--accent-light) 15%, transparent);
}