.tasks-main-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-buttons-box {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
  font-size: var(--font-extra-small);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 30px;
  padding: 0 0 0 15px;
  color: transparent;
  background-color: transparent;
  font-size: var(--font-extra-small);
  transition: all 350ms ease-in;
}

.task-color-ready {
  color: var(--accent-light);
  background-color: color-mix(in srgb, var(--accent-light) 10%, transparent);
}

.task-color-not-ready {
  color: var(--neutral);
  background-color: color-mix(in srgb, var(--neutral) 20%, transparent);
}

.task-bg {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 65px;
  border-radius: 30px;
  transition: background-color 250ms ease-in-out;
}

.task-priority-title-box {
  display: flex;
  gap: 12px;
  overflow: hidden;
  flex: 1;
  padding-right: 5px;
}

.task-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  padding-right: 5px;
}

.not-ready {
  background-color: var(--sematic-bad-dark);
}

.task-slider {
  height: 100%;
  width: 50%;
  margin: 0 0 0 0;
  border-radius: 30px;
  text-shadow: 0 4px 8px;
  transition: all 250ms ease-in-out;
}

.task-not-ready {
  background-color: var(--sematic-bad-light);
  color: var(--sematic-bad-dark);
  text-shadow: 0 4px 8px var(--sematic-bad-dark);
}

.ready {
  background-color: var(--sematic-good-dark);
}

.task-ready {
  margin: 0 0 0 50%;
  background-color: var(--sematic-good-light);
  color: var(--sematic-good-dark);
  text-shadow: 0 4px 8px var(--sematic-good-dark);
}
